* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #E6ECF0;
}

button {
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
}

a {
  color: inherit;
  text-decoration: none;
} 

.navbar-menu {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border-bottom: 1px solid #9999;
  background-color: white;
  } 

.logo {
				width: 150px
        }

.search-bar {
  display: flex;
  flex-grow: 0.8;
  margin: 0 2rem 0 4rem;
}

.search-bar img:first-child {
  opacity: 0.6;
}

.search-input {
  width: 100%;
}

.menu-icons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 1.5rem;
}

.my-profile {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 2px solid #9999;
  border-radius: 900px;
  background-color: #d7b67ab1;
  padding: .5rem 1rem;
  align-items: center;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.current-user-name {
  vertical-align: .3rem;
  margin-right: auto;
  
}

/* boady */
.wrapper {
  display: flex;
  list-style-type: none;
  background-color: #E6ECF0;
}

.wrapper article.profile {
  border: 2px solid #9999;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  width: 1270px;
  height: 200px;
  font-size: 28px;
  margin: 5px 0 0 5px;
  list-style-type: none;
}
.wrapper article.profile div.profile-image {
  width: 270px;
  height: 200px;
  float: left;
  display: flex;
  list-style-type: none;
  margin-top: -3em;
  margin-left: 0rem;
}
.wrapper article.profile div.profile-image img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.wrapper article.profile div.profile-username {
  list-style-type: none;
  margin-top: -2em;
  margin-left: 10em;
}

.wrapper article.profile div.profile-username h1 {
  list-style-type: none;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0em;
}
.wrapper article.profile div.profile-stats {
  margin-top: 1.5rem;
}

.wrapper article.profile div.profile-stats li {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 3rem;
  cursor: pointer;
}
.wrapper article.profile div.profile-stats li:last-of-type {
  margin-right: 0;
  border: none;
}
.wrapper article.profile div.profile-stats li span {
  display: block;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
  margin-top: .3em;
  font-weight:700;
}


article.puntuation{
  border: 2px solid #9999;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  width: 230px;
  height: 300px;
  font-size: 28px;
  margin: 210px 0 0 5px;
}

article.puntuation h2 {
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: left;
  font-size: 30px;
  border-radius: 900px;
}
article.puntuation img {
  padding-right: 5px;
}

article.puntuation ul.actions div.subcategories li > img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
article.puntuation li {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  border-radius: 900px;
}

.gallery{
  display: flex;
  flex: 1;
  background: #fff;
  margin: 210px 10px 0px 250px;
  list-style-type: none;
}

.gallery article.video-container {
  flex: 1;
  background: #fff;
  margin: 20px 20px 30px 200px;
}

.gallery article.video-container h1{
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 30px;
  border-radius: 900px;
}

.gallery ul.videos {
  list-style-type: none;
}

.gallery article.video-container ul.videos li {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
  display: flex;
  list-style-type: none;
}

.gallery .video.container ul.videos li > img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.gallery article.video-container ul.videos {
  list-style: none
}

.gallery article.video-container ul.videos li {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
  display: flex;
}

.avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.publication {
  height: 450px;
  width: 450px;
}

.gallery article.video-container ul.videos li .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.gallery article.video-container ul.videos li .info strong {
  font-size: 16px;
  color: #1f2326;
}

.gallery article.video-container ul.videos li .info strong span {
  font-weight: normal;
  font-size: 13px;
  color: #7b8b9a;
}

.gallery article.video-container ul.videos li .info p {
  font-size: 14px;
  color: #1f2326;
  margin-top: 5px;
}

.gallery article.video-container ul.videos li .reactions {
  display: flex;
  margin-top: 20px;
}

.gallery article.video-container ul.videos li .reactions a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #667580;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}

.gallery article.video-container ul.videos li .reactions a:first-child {
  margin-left: 0;
}

.gallery article.video-container ul.videos li .reactions a img{
  margin-right: 5px;
}


/* Profile Section */

.profile {
    padding: 5rem 0;
}
.profile-image {
    float: left;
    width: calc(33.333% - .5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.profile-image img {
    border-radius: 80%;
}
.profile-user-settings {
    margin-top: 1.3rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.1rem;
    font-weight: 300;
}
.profile-stats {
    margin-top: 1.5rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 3rem;
    cursor: pointer;
}
.profile-stats li:last-of-type {
    margin-right: 0;
    border: none;
}
.profile-stats li span {
    display: block;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.2em;
    margin-top: .3em;
    font-weight:700;
  }

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}
  
.wrapper {
    display: grid;
    grid-template-columns: minmax(300px, auto);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.two {
    grid-column: 2 / 4;
    grid-row: 1;
    
}
.three {
    grid-column: 1;
    grid-row: 2 / 5;
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.four {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}