* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #E6ECF0;
}

button {
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
}

a {
  color: inherit;
  text-decoration: none;
} 

.navbar-menu {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border-bottom: 1px solid #9999;
  background-color: white;
  } 

.logo {
				width: 150px
        }

.search-bar {
  display: flex;
  flex-grow: 0.8;
  margin: 0 2rem 0 4rem;
}

.search-bar img:first-child {
  opacity: 0.6;
}

.search-input {
  width: 100%;
}

.menu-icons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 1.5rem;
}

.my-profile {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 2px solid #9999;
  border-radius: 900px;
  background-color: #d7b67ab1;
  padding: .5rem 1rem;
  align-items: center;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.current-user-name {
  vertical-align: .3rem;
  margin-right: auto; 
}

.wrapper-list {
  display: flex;
  list-style-type: none;
  background-color: #E6ECF0;

}

.wrapper-list aside.actions {
  border: 1px solid #9999;
  background-color: #fff;
  position: sticky;
  top: 82px;
  width: 230px;
  height: 350px;
  font-size: 28px;
  margin: 15px 0 0 50px;
}

.wrapper-list aside.actions img {
  padding-right: 5px;
}
.wrapper-list aside.actions li {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  border-radius: 900px;
}

.wrapper-list aside.actions li:hover, 
.wrapper-list aside.actions h2:hover {
  background-color: #d7b67ab1;
}

.wrapper-list aside.actions h2 {
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: left;
  font-size: 30px;
  border-radius: 900px;
}

.wrapper-list .video-container {
  flex: 1;
  background-color: #E6ECF0;
  margin: 5px 20px;
  padding: 0%;
  max-width: 850px;
}

div.wrapper-list ul.videos {
  list-style-type: none;
}

div.wrapper-list section.video-container ul.videos li {
  background-color: #fff;
  border-bottom: 1px solid #e6ecf0;
  margin: 0 0 20px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
}

div.wrapper-list section.video-container ul.videos li:first-child {
  justify-content: left;
  align-items: center;
}

div.wrapper-list section.video-container ul.videos {
  list-style: none;
  border-bottom: 1px solid #9999;
  padding-left: 0;
}

div.wrapper-list section.video-container ul.videos li {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
  display: flex;
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.profile-uploader {
  width: 100%;
  align-items: center;
  margin-left: 0;
}

.publication {
  max-width: 100%;
  margin-top 10%;
  border-top: 1px solid #999;
}

div.wrapper-list section.video-container ul.videos li .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.reactions{
  padding-bottom: 1rem;
  max-height: 100px;
  font-size: 16;
  border-bottom: 1px solid #9999;
}


div.wrapper-list section.video-container ul.videos li .profile-uploader strong {
  font-size: 14px;
  color: #1f2326;
  vertical-align: 1rem;
}

.description {
  display: flex;
  padding: 10px;
  align-items: top;
}

.img-categories {
  min-width: 100px;
}

.img-categories a{
  min-width: 100px;
}

div.wrapper-list section.video-container ul.videos li .info .description p {
  font-size: 14px;
  color: #1f2326;
  margin-top: 5px;
  padding-left: 1rem;
  max-width: 100%;
}

div.wrapper-list section.video-container ul.videos li .reactions {
  display: flex;
  margin-top: 20px;
}

div.wrapper-list section.video-container ul.videos li .reactions a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #667580;
  font-weight: bold;
  font-size: 12px;
  margin-left: 30px;
}

div.wrapper-list section.video-container ul.videos li .reactions a:first-child {
  margin-left: 0;
}

div.wrapper-list section.video-container ul.videos li .reactions a img{
  margin-right: 5px;
}

div.wrapper-list aside.widgets {
  width: 290px;
}

div.wrapper-list aside.widgets .widget {
  background: #fff;
  padding: 15px;
  margin-top: 10px;
  position: sticky;
  top: 82px;
}

div.wrapper-list aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

div.wrapper-list aside.widgets .widget .title strong{
  font-size: 18px;
  color: #1f2226;
}

div.wrapper-list aside.widgets .widget .title a {
  color: #3bb9e3;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

div.wrapper-list aside.widgets .widget .title a::before {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 4px;
  top: 6px;
}

div.wrapper-list aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper-list aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-list aside.widgets .follow ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

div.wrapper-list aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-list aside.widgets .follow ul li .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

div.wrapper-list aside.widgets .follow ul li .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-list aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2326;
}

div.wrapper-list aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-list aside.widgets .follow ul li .profile .info button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 27px;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;
  margin-top: 4px;
}

div.wrapper-list aside.widgets .follow ul li > a {
  color: #ccd6dd;
  text-decoration: none;
  font-size: 14px;
}